<div class="companyProfile">
  <p>富银融资租赁（深圳）股份有限公司（以下简称“富银融资租赁”）是一家金融服务公司，专注于向中国的客户提供基于设备的融资租赁、商业保理、咨询服务及买卖医疗设备。本集团是杉杉股份（A股代码：600884）旗下金融领域子公司。</p>
  <p>&nbsp;</p>
  <p>自成立以来，本公司根据客户的行业以及其需要的设备提供定制化的融资租赁服务、商业保理服务、常规咨询服务及医疗设备贸易服务。目前，富银融资租赁拥有来自多个行业的逾933名客户。</p>
</div>