<ul class="competeEdge">
  <li>
    <h4>可替代能源融资租赁经验丰富</h4>
    <p>受益于杉杉股份在可替代能源的行业地位，有助巩固客户对我们服务的信心及建立专业知识，为行业客户提供更优质的服务。</p>
    <div class="line">---------------------------------------------------------------------</div>
  </li>
  <li>
    <h4>谨慎的风险管理及内部控制程序</h4>
    <p>已制定综合风险管理及內部控制程序，风险管理系统按业务特性而设，并透过全面客户尽职调查、独立资料审阅及多层级审批过程集中管理风险。</p>
    <div class="line">---------------------------------------------------------------------</div>
  </li>
  <li>
    <h4>强劲资本基础及多元化融资能力</h4>
    <p>资本水平健康，为未来增长提供更多空间，而且拥有强大的资本基础、集资能力和良好声誉，有利本公司的进一步增长与发展。</p>
    <div class="line">---------------------------------------------------------------------</div>
  </li>
  <li>
    <h4>多元化客户基础</h4>
    <p>拥有逾240名融资租赁客户，遍布于中国逾25个不同省、市及自治区，聚焦于向快速消费品、电子、医疗、可替代能源及运输行业。</p>
  </li>
</ul>