<ul class="developHistory">
  <li>
    <span class="time">2012年12月</span>
    <span class="desc">于中国成立富银为中外合资经营企业</span>
    <div class="line">----------------------------------------------------------------------------------------------</div>
  </li>
  <li>
    <span class="time">2013年5月</span>
    <span class="desc">于中国成立富银商业保理为有限责任公司</span>
    <div class="line">----------------------------------------------------------------------------------------------</div>
  </li>
  <li>
    <span class="time">2013年6月</span>
    <span class="desc">向电子行业客户提供首个融资租赁项目</span>
    <div class="line">----------------------------------------------------------------------------------------------</div>
  </li>
  <li>
    <span class="time">2013年10月</span>
    <span class="desc">向制造行业客户提供首个保理项目</span>
    <div class="line">----------------------------------------------------------------------------------------------</div>
  </li>
  <li>
    <span class="time">2015年9月</span>
    <span class="desc">将富银转制为股份制有限公司，即富银融资租赁（深圳）股份有限公司</span>
    <div class="line">----------------------------------------------------------------------------------------------</div>
  </li>
  <li>
    <span class="time">2017年5月</span>
    <span class="desc">成功于香港联合交易所创业板上市，上市代码8452</span>
  </li>
</ul>