<ul class="financeLease clearfix">
  <li>
    <img src="" alt="">
    <div><a href="">新品直租</a></div>
  </li>
  <li>
    <img src="" alt="">
    <div><a href="">新品直租</a></div>
  </li>
  <li>
    <img src="" alt="">
    <div><a href="">新品直租</a></div>
  </li>
  <li>
    <img src="" alt="">
    <div><a href="">新品直租</a></div>
  </li>
  <li>
    <img src="" alt="">
    <div><a href="">新品直租</a></div>
  </li>
  <li>
    <img src="" alt="">
    <div><a href="">新品直租</a></div>
  </li>
</ul>