<ul class="mannagementLayer">
  <li>
    <p class="layer_title">庄巍先生&emsp;&emsp;主席及非执行董事</p>
    <p>- 负责集团的整体公司策略及管理方针。</p>
    <p>- 自1993年起担任不同中国企业集团的投资管理及综合管理。</p>
    <p>- 于2007年加入杉杉股份，曾出任集团及附属公司的主席、董事及总经理等职位，现为杉杉股份的主席兼总经理。</p>
    <p>- 于2000年取得中国北京大学的政治经济学博士学位。</p>
    <div class="line">-----------------------------------------------------------------------------------------------------------------</div>
  </li>
  <li>
    <p class="layer_title">庄巍先生&emsp;&emsp;主席及非执行董事</p>
    <p>- 负责集团的整体公司策略及管理方针。</p>
    <p>- 自1993年起担任不同中国企业集团的投资管理及综合管理。</p>
    <p>- 于2007年加入杉杉股份，曾出任集团及附属公司的主席、董事及总经理等职位，现为杉杉股份的主席兼总经理。</p>
    <p>- 于2000年取得中国北京大学的政治经济学博士学位。</p>
    <div class="line">-----------------------------------------------------------------------------------------------------------------</div>
  </li>
  <li>
    <p class="layer_title">庄巍先生&emsp;&emsp;主席及非执行董事</p>
    <p>- 负责集团的整体公司策略及管理方针。</p>
    <p>- 自1993年起担任不同中国企业集团的投资管理及综合管理。</p>
    <p>- 于2007年加入杉杉股份，曾出任集团及附属公司的主席、董事及总经理等职位，现为杉杉股份的主席兼总经理。</p>
    <p>- 于2000年取得中国北京大学的政治经济学博士学位。</p>
  </li>
</ul>