<div class="serviceField">
  <p>快速消费品</p>
  <p>我们于2013年开始向快速消费品行业提供融资租赁服务。我们的租赁设备包括烘焙设备、食品及饮料包装设备以及食品生产设备。由于可支配收入及城市化率不断提升、在线零售分销渠道更深入渗透，以及物流行业快速扩展，中国的消费者及餐饮习惯的的改善促成了快速消费品行业的稳定发展。</p>
  <p>&nbsp;</p>
  <p>电子</p>
  <p>我们于2013年承接首個电子设备融资租赁业务。我们向中国的电子消费品制造商提供融资租赁服务，租赁电子设备包括电脑控制切割机及半导体设备。我们相信，电子消费产品（如智能手机及家电）需求的快速增长，因技术快速发展令推出的新产品不断增加，以及中小企业升级其电子设备的需求，将支持中国电子行业的增长。</p>
  <p>&nbsp;</p>
  <p>医疗</p>
  <p>我们于2014年进入医疗行业发展融资租赁业务。我们主要向中国的私立医院提供融资租赁服务。我们的医疗设备包括计算机断层扫描设备、磁共振扫描设备及透析设备。随着人口老龄化以及私立医疗机构日渐增多，加上政府扶持及积极鼓励地方政府与医疗行业私人资本的公私合营体系，将推动医疗设备的需求。</p>
  <p>&nbsp;</p>
</div>