<ul class="talentRecruit">
  <li>
    <h3>业务经理-深圳<span class="fr">发布时间： 2016-09-12</span></h3>
    <p>任职要求：</p>
    <p>1、本科及以上学历，具备融资租赁行业3年以上工作经验且业绩显著；</p>
    <p>2、具备较系统的财务、法律和投资方面的知识；</p>
    <p>3、熟识融资租赁及其他金融产品业务，具有一定的客户资源；</p>
    <p>4、具备良好的开拓能力、责任心强，具有较强的团队精神和承压能力。</p>
    <p>岗位职责：</p>
    <p>1、确定市场战略和贯彻战略决策执行计划。</p>
    <p>2、常态分析企业现状、目标市场动态、行业变化以及竞争对手，以保持企业和品牌的市场有利位置</p>
    <p>3、准确把握市场信息，并及时向企业各部门传递市场与企业的要求，做好信息沟通工作。</p>
    <p>4、开拓融资租赁市场（医疗、汽车、节能环保）并建立市场有效渠道。</p>
  </li>
  <li>
    <h3>业务经理-深圳<span class="fr">发布时间： 2016-09-12</span></h3>
    <p>任职要求：</p>
    <p>1、本科及以上学历，具备融资租赁行业3年以上工作经验且业绩显著；</p>
    <p>2、具备较系统的财务、法律和投资方面的知识；</p>
    <p>3、熟识融资租赁及其他金融产品业务，具有一定的客户资源；</p>
    <p>4、具备良好的开拓能力、责任心强，具有较强的团队精神和承压能力。</p>
    <p>岗位职责：</p>
    <p>1、确定市场战略和贯彻战略决策执行计划。</p>
    <p>2、常态分析企业现状、目标市场动态、行业变化以及竞争对手，以保持企业和品牌的市场有利位置</p>
    <p>3、准确把握市场信息，并及时向企业各部门传递市场与企业的要求，做好信息沟通工作。</p>
    <p>4、开拓融资租赁市场（医疗、汽车、节能环保）并建立市场有效渠道。</p>
  </li>
</ul>