<footer class="footer">
  <div class="w clearfix">
    <div class="footer-logo"><img src="" alt=""></div>
    <div class="footer-mid">
      <p class="footer_nav">
        <a href="/pages/companyProfile.html">关于我们</a><i>|</i><a href="/pages/financeLease.html">业务概览</a><i>|</i><a href="/pages/contactUs.html">联系我们</a>
      </p>
      <p class="footer_link">
        <span>友情链接：</span><a href="">前海自贸区</a><a href="">杉杉股份</a><a href="">香港交易所</a>
      </p>
      <p class="footer_copyright">Copyright ©2016 - 2019 富银融资租赁（深圳）股份有限公司  粤ICP备15103296号  网站地图  犀牛云提供企业云服务</p>
    </div>
    <div class="footer-Qr"><img src="" alt=""></div>
  </div>
</footer>